body {
  background-color: antiquewhite;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #fff;
}

section div {
  width: 30%;
  height: 200px;
  margin: 10px;
  background-color: #ccc;
}
